{% extends "base.html"%}

{% block title %} Sobre mí {% endblock title %}

{% block content%}
    <h1>Sobre mí</h1>
    <p>Mi nombre es Daniel Mory, y actualmente estoy estudiando programación front-end</p>
    <form method="post" action="/aboutme.html">
        <h2>¡Envíame un mensaje!</h2>

        <input type="text" name="contact-name" placeholder="Introduce tu nombre">
        <br>
        <input type="text" name="email" placeholder="Introduce tu correo electrónico">
        <br>
        <textarea name="message" placeholder="Escribe aquí tu mensaje"></textarea>
        <br>

        <button type="submit">Submit message</button>
    </form>
{% endblock content %}